[dotenv@17.3.1] injecting env (8) from .env.local -- tip: ­şøá´©Å  run anywhere with `dotenvx run -- yourcommand`
To fix the schema, we need to run SQL directly in the Supabase Editor.

-- 1. Add missing is_active to products
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT true;

-- 2. Add missing is_active to categories
ALTER TABLE public.categories ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT true;

-- 3. Create site_settings table
CREATE TABLE IF NOT EXISTS public.site_settings (
    key VARCHAR(255) PRIMARY KEY,
    value JSONB NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- RLS (Row Level Security) Aktifle┼ştir
ALTER TABLE public.site_settings ENABLE ROW LEVEL SECURITY;

-- Herkes okuyabilir
CREATE POLICY "Public profiles are viewable by everyone."
    ON public.site_settings FOR SELECT
    USING ( true );

-- Sadece authenticated (admin/anon yetkisi) olanlar yazabilir -> Demo i├ğin anon kullan─▒yoruz, g├╝venlik i├ğin session bazl─▒ olabilir
CREATE POLICY "Enable insert for authenticated users only"
    ON public.site_settings FOR INSERT
    WITH CHECK ( true );

CREATE POLICY "Enable update for authenticated users only"
    ON public.site_settings FOR UPDATE
    USING ( true )
    WITH CHECK ( true );

-- Varsay─▒lan site ayarlar─▒n─▒ seed edelim
INSERT INTO public.site_settings (key, value) VALUES 
('cms_colors', '{"primary": "#C9A96E", "primaryDark": "#B8915A", "background": "#F5F0EB", "text": "#1C1C1E"}'),
('cms_hero', '{"title": "M├╝kemmel Evinizin Hikayesi", "subtitle": "Modern tasar─▒m, zamans─▒z zarafet. MAISON ile ya┼şam alanlar─▒n─▒z─▒ yeniden ke┼şfedin.", "image": "https://images.unsplash.com/photo-1600210492486-724fe5c67fb0?q=80&w=2000&auto=format"}'),
('cms_footer', '{"description": "Premium mobilya ve ev dekorasyonu. Evinizin yeni hikayesini birlikte yazal─▒m.", "showNewsletter": true}')
ON CONFLICT (key) DO UPDATE 
SET value = EXCLUDED.value;
    
-- Tabloyu oluÅŸtur: site_settings
CREATE TABLE IF NOT EXISTS public.site_settings (
    key VARCHAR(255) PRIMARY KEY,
    value JSONB NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- RLS (Row Level Security) AktifleÅŸtir
ALTER TABLE public.site_settings ENABLE ROW LEVEL SECURITY;

-- Herkes okuyabilir
CREATE POLICY "Public profiles are viewable by everyone."
    ON public.site_settings FOR SELECT
    USING ( true );

-- Sadece authenticated (admin/anon yetkisi) olanlar yazabilir -> Demo iÃ§in anon kullanÄ±yoruz, gÃ¼venlik iÃ§in session bazlÄ± olabilir
CREATE POLICY "Enable insert for authenticated users only"
    ON public.site_settings FOR INSERT
    WITH CHECK ( true );

CREATE POLICY "Enable update for authenticated users only"
    ON public.site_settings FOR UPDATE
    USING ( true )
    WITH CHECK ( true );

-- VarsayÄ±lan site ayarlarÄ±nÄ± seed edelim
INSERT INTO public.site_settings (key, value) VALUES 
('cms_colors', '{"primary": "#C9A96E", "primaryDark": "#B8915A", "background": "#F5F0EB", "text": "#1C1C1E"}'),
('cms_hero', '{"title": "MÃ¼kemmel Evinizin Hikayesi", "subtitle": "Modern tasarÄ±m, zamansÄ±z zarafet. MAISON ile yaÅŸam alanlarÄ±nÄ±zÄ± yeniden keÅŸfedin.", "image": "https://images.unsplash.com/photo-1600210492486-724fe5c67fb0?q=80&w=2000&auto=format"}'),
('cms_footer', '{"description": "Premium mobilya ve ev dekorasyonu. Evinizin yeni hikayesini birlikte yazalÄ±m.", "showNewsletter": true}')
ON CONFLICT (key) DO UPDATE 
SET value = EXCLUDED.value;
